@model Pre_maritalCounSeling.DAL.Entities.QuizResult

@{
    ViewData["Title"] = "Edit";
}


<h1>Edit</h1>

<h4>QuizResult</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Score" class="control-label"></label>
                <input asp-for="Score" class="form-control" />
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuizId" class="control-label">SELECT THE QUIZ</label>
                <select asp-for="QuizId" class="form-control" asp-items="ViewBag.QuizOption"></select>
                <span asp-validation-for="QuizId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserId" class="control-label">SELECT THE USER</label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuizResultCode" class="control-label"></label>
                <input asp-for="QuizResultCode" class="form-control" />
                <span asp-validation-for="QuizResultCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeCompleted" class="control-label"></label>
                <input asp-for="TimeCompleted" class="form-control" />
                <span asp-validation-for="TimeCompleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AttemptTime" class="control-label"></label>
                <input asp-for="AttemptTime" class="form-control" />
                <span asp-validation-for="AttemptTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserAnswerData" class="control-label"></label>
                <input asp-for="UserAnswerData" class="form-control" />
                <span asp-validation-for="UserAnswerData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecommendedAnswerData" class="control-label"></label>
                <input asp-for="RecommendedAnswerData" class="form-control" />
                <span asp-validation-for="RecommendedAnswerData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FeedBack" class="control-label"></label>
                <input asp-for="FeedBack" class="form-control" />
                <span asp-validation-for="FeedBack" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedAt" class="control-label"></label>
                <input asp-for="ModifiedAt" class="form-control" />
                <span asp-validation-for="ModifiedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuggestionContent" class="control-label"></label>
                <input asp-for="SuggestionContent" class="form-control" />
                <span asp-validation-for="SuggestionContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedBy" class="control-label"></label>
                <input asp-for="ModifiedBy" class="form-control" />
                <span asp-validation-for="ModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DoHaveFeedback" /> @Html.DisplayNameFor(model => model.DoHaveFeedback)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

